body {
	font-family: sans-serif;
}
#body {
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.text {
	width: 1000px;
	margin: 0 auto;
}
table {
	border: none;
	margin: 0 auto;
	width: 400px;
}
td.button {
	text-align: center;
	height: 40px;
}
a.button {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	text-decoration: none;
	color: initial;
	padding: 5px;
	text-align: center;
}
a {
	color: #00397a;
	text-decoration: none;
}
h1 {
	text-align: center;
}
tr.bees:nth-child(2n+2) {
	background: #b3b3b3;
}
tr.bees td {
	padding-left: 5px;
	width: 110px;
}
td.checkbox {
	text-align: center;
	vertical-align: middle;
	width: 65px;
}
td.alphaheader {
	text-align: center;
	background: #2992FF;
}
#titles {
	background: #478ad0;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}
#titles td {
	padding: 5px;
}
div.viewbeescontain {
	/* Container div for ViewBees */
	width: 525px;
	margin: 0 auto;
	position: relative;
}
div.AlphaLinks {
	/* CSS for Floated DIV to hold Alpha links on ViewBees */
	position: absolute;
	right: 0px;
	background: #eeeeee;
	margin: 5px;
	width: 50px;
	text-align: center;
}
div.clear {
	clear: both;
}
#bttop {
	display: block;
	text-align: center;
	font-size: 0.60em;
}